@import "tailwindcss";

:root {
  --font-syne: "Syne", sans-serif;
  --font-mono: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-mono);
}

/* Custom scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0b0b0b; }
::-webkit-scrollbar-thumb { background: #1D9E75; border-radius: 2px; }
